/* overall */
body {
  width: 500px; /* max size of popup.html */
  height: 500px; /* max size of popup.html */
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, sans-serif;
}
::-webkit-scrollbar {
  /* hide scrollbar */
  display: none; /* Chrome Safari */
}

/* collect tab */
.collect-content {
  word-break: break-all;
}

.empty-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collect-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-size: 1.2em;
}

.collect-time {
  font-weight: bold;
}

/* config tab*/
.actor-configs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.common-configs {
  display: flex;
  flex-direction: row;
}

.mdui-card {
  width: 120px;
  height: 100%;
  margin: 10px 5px 5px 10px;
}

.mdui-card-actions .total-switch-container {
  display: flex;
  justify-content: center;
}

.mdui-card-actions .detail-custom-container {
  display: flex;
  flex-direction: column;
}

.ul-style-wrapper {
  display: flex;
}

.common-configs .mdui-list-item {
  width: 140px;
}

.common-configs .mdui-textfield-input {
  width: 50px;
}
