.actor-asoul {
  position: fixed;
  height: 100px;
  width: 100px;
  z-index: 99999;
  border: 0px; /* avoid external style influence */
  filter: drop-shadow(
    0px 0px 2px #999999
  ); /* add shadow for png imgage with alpha data*/
}

.bait-asoul {
  position: fixed;
  transform: scale(0.25);
  z-index: 999999;
}

.message-box-asoul {
  position: fixed;
  max-width: 150px;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 999999;
  background-color: #faebd7;
}

.message-box-asoul p {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 0.5em;
  margin: 5px 5px 5px 5px;
}
